## 04. Pandas
### 파이썬 기반의 강력하고 사용하기 쉬운 데이터 분석 및 조작 라이브러리

In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

2.3.3

### Pandas의 핵심 자료 구조
- serise
- DataFrame

### serise
- 인덱스(라벨)가 붙은 1차원 배열
- 인덱스 이름을 직접 지정할 수 있음.

In [4]:
# 시리즈 생성
# 1. 리스트로 생성
data = [10,20,30,40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
# 2. 인덱스 지정
s2 = pd.Series([10,20,30,40],
               index=['a','b','c','d'])
print(s2)

a    10
b    20
c    30
d    40
dtype: int64

In [6]:
# 3. 딕셔너리로 생성
data = {'서울':100, '부산':200, '대구':300}
s = pd.Series(data)
print(s)

서울    100
부산    200
대구    300
dtype: int64

In [10]:
# 4. 하나의 값으로 시리즈 생성
s = pd.Series(7,index=['가','나','다'])
print(s)

가    7
나    7
다    7
dtype: int64

In [ ]:
# 시리즈 주요 속성
data = [10,20,30,40]
s = pd.Series(data, index=['a','b','c','d'], name ='test data')
#name = 시리즈 이름 설정 값

print("values", s.values) # 실제 데이터 배열
print("index", s.index) # 인덱스 객체
print("dtype", s.dtype) # 실제 데이터의 타입
print("size", s.size) #데이터의 개수
print("shape", s.shape) #배열의 형태
print("name",s.name) #시리즈의 이름

values [10 20 30 40]
index Index(['a', 'b', 'c', 'd'], dtype='object')
dtype int64
size 4
shape (4,)
name test data

In [13]:
# 시리즈의 연산
s1 = pd.Series([10,20,30], index=['a','b','c'])
s2 = pd.Series([5,6,7], index=['b','c','d'])

result = s1 + s2
print(result)

a     NaN
b    25.0
c    36.0
d     NaN
dtype: float64

In [14]:
# 브로드캐스팅
s1 = pd.Series([10,20,30], index=['a','b','c'])

print(s1 + 3)
print(s1 * 3)

a    13
b    23
c    33
dtype: int64
a    30
b    60
c    90
dtype: int64

In [15]:
# 불리언 연산 및 인덱싱
s = pd.Series([50,60,50,80,90,100])

mask = s > 70
print(mask)
print(s[mask])

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool
3     80
4     90
5    100
dtype: int64

In [29]:
#실습
#파이썬 리스트 [5, 10, 15, 20]을 이용해 Series를 생성하세요.
s = pd.Series([5,10,15,20])
print(s)

#값[90, 80, 85, 70]에 대해 인덱스를 각각 '국어', '영어', '수학', '과학'으로 지정한 Series를 만드세요
s = pd.Series([90,80,85,70], index=['국어', '영어', '수학', '과학'])
print(s)

#{'서울': 950, '부산': 340 , '인천': 520} 딕셔너리를 이용해Series를 만들고, 인천의 값을 출력하세요
s= pd.Series({'서울': 950, '부산': 340 , '인천': 520})
print(s['인천'])

0     5
1    10
2    15
3    20
dtype: int64
국어    90
영어    80
수학    85
과학    70
dtype: int64
520

In [ ]:
#Series [1, 2, 3, 4]를만들고, 데이터타입(dtype)을출력하세요.
c = pd.Series([1, 2, 3, 4])
print(c.dtype)

#아래 두 Series의 합을 구하세요
s1 = pd.Series([3, 5, 7], index=['a', 'b', 'c'])
s2 = pd.Series([10, 20, 30], index=['b', 'c', 'd'])

print(s1+s2)

#Series [1, 2, 3, 4, 5]의 각 값에 10을 더한 Series를 만드세요
d = pd.Series([1, 2, 3, 4, 5])
d1 = pd.Series(d + 10)
print(d1)

int64
a     NaN
b    15.0
c    27.0
d     NaN
dtype: float64
0    11
1    12
2    13
3    14
4    15
dtype: int64